@tailwind base;
@tailwind components;
@tailwind utilities;
html,
body {
    margin: 0;
    height: 100%;
    font-family: system-ui, -apple-system, sans-serif;
}

#root {
    display: block;
    min-height: 100%;
}


/* Checkerboard pattern for transparent color swatch */

.color-swatch-transparent {
    background-color: #fff;
    background-image: linear-gradient(45deg, #cbd5e1 25%, transparent 25%), linear-gradient(-45deg, #cbd5e1 25%, transparent 25%), linear-gradient(45deg, transparent 75%, #cbd5e1 75%), linear-gradient(-45deg, transparent 75%, #cbd5e1 75%);
    background-size: 8px 8px;
    background-position: 0 0, 0 4px, 4px -4px, -4px 0;
}